html {
  background-image: url("INSERT IMG HERE");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  background-color: rgba(/*(55, 205, 220)*/);
  padding: 5px solid rgba(/*(55, 205, 220)*/);
  border: 5px solid rgba(/*(55, 205, 220)*/);
  font-size: 16px;
  font-family: ; /* INSERT FONT FMLY */
}

nav {
  max-width: 100%;
  padding: 0.5em;
  position: static;
  top: 0px;
  background-color: rgba(/*(55, 205, 220)*/);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}